@page "/ResetPassword"

@using Microsoft.AspNetCore.Identity

@inject UserManager<IdentityUser> UserManager

<h3>ResetPassword</h3>

<input class="rounded-lg" type="text" @bind="@NewUsername" />
<input class="rounded-lg" type="password" @bind="@NewPassword" />
<button class="btn btn-primary" @onclick="ChangePassword">Change</button>

@code
{
    private string NewUsername = string.Empty;
    private string NewPassword = string.Empty;

    private async void ChangePassword()
    {
        IdentityUser user = UserManager.Users.Where(u => u.Email == "jordan.mymail@gmail.com")?.Single();
        user.UserName = NewUsername;
        IdentityResult result = await UserManager.UpdateAsync(user);
        if (!result.Succeeded) return;
        string token = await UserManager.GeneratePasswordResetTokenAsync(user);
        result = await UserManager.ResetPasswordAsync(user, token, NewPassword);
    }
}
